body {
  font-family: sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}

.formulario {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
}

.tarefa {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #eee;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.tarefa.feita {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}

.tarefa.concluida span {
  text-decoration: line-through;
  color: #999;
}
